replicaCount: 2

image:
  repository: boicotaz/taskapp-backend
  pullPolicy: Always
  tag: "latest"

applicationPort: 8080

readinessProbe:
  initialDelaySeconds: 5
  periodSeconds: 10
  failureThreshold: 3

service:
  type: ClusterIP
  port: 80

db:
  host: taskapp-database-cluster-ro
  port: 5432
  secretName: taskapp-database-cluster-secret
  name: taskapp

resources:
  requests:
    memory: "64Mi"
    cpu: "250m"
  limits:
    memory: "256Mi"
    cpu: "1000m"

nodeSelector: {}

tolerations: []

affinity: {}
