apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-config
              key: PORT
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: {{ .Values.db.secretName }}
              key: POSTGRES_DB
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: {{ .Values.db.secretName }}
              key: POSTGRES_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.db.secretName }}
              key: POSTGRES_PASSWORD
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-config
              key: DB_PORT
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-config
              key: DB_HOST
        ports:
        - containerPort: {{ .Values.applicationPort }}
        readinessProbe:
          httpGet:
            path: /typo
            port: {{ .Values.applicationPort }}
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds  }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          failureThreshold:  {{ .Values.readinessProbe.failureThreshold }}